.product-page {
  padding: 20px;
}

/* Filters */
.filter-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}

.search-input {
  flex: 1;
  min-width: 220px;
  padding: 8px 12px;
}

.filter-buttons button {
  margin-left: 8px;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.veg {
  background: #198754;
  color: white;
}

.nonveg {
  background: #dc3545;
  color: white;
}

/* Product list */
.product-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Food Card */
.food-card {
  display: flex;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.food-card img {
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.food-info {
  padding: 15px;
  flex: 1;
}

.food-info h4 {
  display: flex;
  justify-content: space-between;
}

.badge {
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
}

.badge.VEG {
  background: #198754;
  color: white;
}

.badge.NON_VEG {
  background: #dc3545;
  color: white;
}

.desc {
  font-size: 0.9rem;
  color: #555;
}

.price {
  font-weight: bold;
  margin: 8px 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qty button {
  padding: 4px 10px;
}

.cart-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
}

/* Unavailable state */
.cart-btn.unavailable {
  background-color: #b0b0b0;   /* greyed out */
  color: #ef1e1e;
  cursor: not-allowed;
}

/* Optional hover effect */
.cart-btn:not(.unavailable):hover {
  background-color: #8ebff0;
}


/* Mobile */
@media (max-width: 768px) {
  .food-card {
    flex-direction: column;
  }

  .food-card img {
    width: 100%;
    height: 100%;
  }
}

.status-text {
  text-align: center;
  margin-top: 40px;
}
